user = {mysql_server_ispconfig_user}
password = {mysql_server_ispconfig_password}
dbname = {mysql_server_database}
hosts = {mysql_server_ip}
query = /* The most basic forward */
        SELECT s.destination AS target FROM mail_forwarding AS s
            WHERE (s.source = '%s' OR s.source = {address_without_extension})
              AND s.type IN ('alias', 'forward') AND s.active = 'y' AND s.server_id = {server_id}
        UNION
        /* Handle catchall */
        SELECT s.destination AS target FROM mail_forwarding AS s
            WHERE s.source = '@%d' AND s.type = 'catchall' AND s.active = 'y' AND s.server_id = {server_id}
                AND NOT EXISTS (
                    /* Exclude an address that exists as a mail_user */
                    SELECT email FROM mail_user
                    WHERE (email = '%s' OR email = {address_without_extension})
                      AND EXISTS (
                          SELECT domain_id FROM mail_domain
                           WHERE domain = SUBSTRING_INDEX('%s', '@', -1)
                             AND active = 'y' AND server_id = {server_id}
                       )
                       AND server_id = {server_id}
                )
                AND NOT EXISTS (
                    /* Exclude an address that has a specific forward */
                    SELECT source FROM mail_forwarding
                     WHERE (source = '%s' OR source = {address_without_extension})
                       AND active = 'y' AND server_id = {server_id}
                )
            UNION
              /* Get all forwards, lookup localpart on active alias domains on this server */
             SELECT s.destination AS target FROM mail_forwarding AS s
              INNER JOIN mail_forwarding AS s2
                 ON ( s2.source = '@%d'
                      AND s2.type = 'aliasdomain'
                      AND s2.active = 'y'
                      AND s2.server_id = {server_id})
              WHERE s.source = {address_without_extension_alt_domain}
                AND s.type IN ('alias', 'forward')
                AND s.active = 'y'
                AND s.server_id = {server_id}
            UNION
              /* Get all users, lookup localpart on active alias domains on this server */
             SELECT u.email AS target FROM mail_user AS u
              INNER JOIN mail_forwarding AS s2
                 ON ( s2.source = '@%d'
                      AND s2.type = 'aliasdomain'
                      AND s2.active = 'y'
                      AND s2.server_id = {server_id})
              WHERE (u.email = {address_without_extension_alt_domain})
                AND u.server_id = 1
